* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    /* background-color: #f8fbff; */
}

.d-flex {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.justify-centre {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.items-centre{
    align-items: center;
}

.text-centre {
    text-align: center;
}

.text-justify {
    text-align: justify
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.gap-4 {
    gap: 40px;
}

.sec-padd {
    padding: 70px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-4 {
    margin-top: 40px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-4 {
    margin-bottom: 40px;
}

.main-heading {
    color: #007997;
}

h4 {
    line-height: 2rem;
    margin-top: 10px;
}

p {
    font-size: 0.8rem;
    line-height: 1rem;
}


#nav-p1{
    padding: 10px;
    background-color: #008daf;
}

#nav-p1 p{
    color: #fff;
    font-size: 0.9rem;
}

#nav-p1 button{
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#nav-p2 {
    padding: 15px;
    background-color: #ffffff;
}

#nav-p2 #logo img {
    width: 250px;
    height: 40px;
}

#nav-menu ul li {
    list-style-type: none;
    color: #292929;
    cursor: pointer;
    transition: all ease 500ms;
}

#nav-menu ul li:hover {
    color: #008daf;
}

#search-bar input {
    padding: 8px;
    width: 250px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

#hero-sec img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}



































#products {
    margin-top: 50px;
}

#cart-item {
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #dfedff;
}

#card {
    padding: 20px;
    background-color: #dfedfc;
    border-radius: 20px;
}

.btn {
    padding: 15px 20px;
    color: #ffff;
    cursor: pointer;
    border: 1px solid #0084ff;
    background-color: #0084ff;
    transition: all ease 800ms;
}

.btn:hover {
    color: #0084ff;
    border: 1px solid #0084ff;
    background-color: transparent;
}

.pd-btn {
    color: #0084ff;
    margin-top: 10px;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    transition: all ease 800ms;
}

.pd-btn:hover {
    padding-left: 15px;
}

.qt-btn {
    padding: 5px;
    font-size: 1rem;
}