* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    /* background-color: #f8fbff; */
}

.d-flex {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.justify-centre {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.items-centre{
    align-items: center;
}

.text-centre {
    text-align: center;
}

.text-end {
    text-align: end;
}
.text-start {
    text-align: start;
}

.text-justify {
    text-align: justify
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.gap-4 {
    gap: 40px;
}

.sec-padd {
    padding: 50px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-4 {
    margin-top: 40px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-4 {
    margin-bottom: 40px;
}

.main-heading {
    font-size: 2.3rem;
    color: #007997;
}


#nav-p1{
    padding: 10px;
    background-color: #008daf;
}

#nav-p1 p{
    color: #fff;
    font-size: 0.9rem;
}

#nav-p1 button{
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#nav-p2 {
    padding: 15px;
    background-color: #ffffff;
}

#nav-p2 #logo img {
    width: 250px;
    height: 40px;
}

#nav-menu ul li, a {
    list-style-type: none;
    text-decoration: none;
    color: #292929;
    cursor: pointer;
    transition: all ease 500ms;
}

#nav-menu ul li:hover {
    color: #008daf;
}

#search-bar input {
    padding: 8px;
    width: 250px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

#hero-sec img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}


#category-sec{
    padding-top: 70px;
}

#headphones i, #airpods i, #watches i, #chargers i, #speakers i, #microphones i{
    font-size: 2.5rem;
    transition: all ease 500ms;
}
#headphones i:hover, #airpods i:hover, #watches i:hover, #chargers i:hover, #speakers i:hover, #microphones i:hover{
    color: #008daf;
}

#headphones, #airpods, #watches, #chargers, #speakers, #microphones{
    width: 150px;
    padding: 30px 20px;
    border: 1px solid gray;
    transition: all ease 500ms;
}
#headphones:hover, #airpods:hover, #watches:hover, #chargers:hover, #speakers:hover, #microphones:hover{
    border-color: #008daf;
}



#products {
    /* margin-top: 50px; */
}

#product-card {
    padding: 20px;
    background-color: #e3f9ff;
    border-radius: 20px;
}

.pd-btn {
    color: #0084ff;
    margin-top: 10px;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    transition: all ease 800ms;
}

.pd-btn:hover {
    padding-left: 15px;
}

#cart-item {
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #dfedff;
}

.qt-btn {
    padding: 5px;
    font-size: 1rem;
}